<DOCTYPE html>

<html lang="en">
<head>
	<link rel="stylesheet" href="css/snailstyles.css">
	<title>For the Love of Snails</title>
	<meta charset="utf-8">
</head>
<body>

	<div id="container">
	
	<!-- website name/ logo -->
	<header>
		<!--logo link -->
	</header>
	
	<!--nav area for hyperlinks within website -->
	<nav>
		<!-- nav links -->
		<a href="index.html">Snail Home</a> &nbsp; &nbsp;
		<a href="about.html">About Snails</a> &nbsp; &nbsp;
		<a href="figure.html">Snail Figurines</a> &nbsp; &nbsp;
		<a href="contact.html">Snail Mail</a> &nbsp; &nbsp;
	</nav>
	
	<!-- main content of webpage -->
	<main>
	
	
	</main>
	
	<!-- footer content -->
	<footer>
		&copy; Copyright 2018. All Rights Reserved. <br>
		<!-- email link -->
	</footer>
	
	</div>
	
</body>
</html>